@import "../scss/exports";

.user {
  @include flex();
  position: relative;
  height: 100vh;
  gap: 30px;
  background-color: var(--background-color);
  &_switch_toggle {
    @include flex();
    &_board {
      position: relative;
      width: 80px;
      height: 40px;
      background-color: silver;
      border-radius: 30px;
      cursor: pointer;
      padding: 3px;
      &_ball {
        position: absolute;
        left: 5px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: white;
        transition: 0.3s ease;
      }
    }
  }
  &_container {
    border: 2px solid;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    background-color: rgb(219, 216, 213);
    &_btns {
      @include flex(center, center, row);
      position: absolute;
      border: 2px solid rgb(115, 197, 252);
      bottom: 0;
      width: 99%;
      background-color: rgb(115, 197, 252);
      border-radius: 0px 0px 20px 20px;
      gap: 70px;
      &_1 {
        @include buttonSize();
        cursor: pointer;
        border-radius: 7px;
        font: 20px/24px fantasy {
          weight: 400;
        }
      }
      &_2 {
        @include buttonSize();
        cursor: pointer;
        border-radius: 7px;

        font: 20px/24px fantasy {
          weight: 400;
        }
      }
    }
    &_about_users {
      @include flex();
      & > p {
        color: rgb(26, 112, 188);
        font-weight: 700;
        font-size: 17px;
        & > span {
          color: rgb(99, 188, 72);
          font-size: 16px;
          font-weight: 400;
        }
      }
      &_img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        margin-top: -40px;
      }
    }
    &_walp {
      width: 400px;
      height: 120px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
}

.error_img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

//DarkMood ON styles
.active {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  left: 40px;
  transition: 0.3s ease;
}
.dark {
  @include flex();
  position: relative;
  height: 100vh;
  gap: 30px;
  background-color: black;
}

.green {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  padding: 3px;
  background-color: rgb(19, 140, 53);
}

.outlined {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  background-color: rgb(219, 216, 213);
  outline: #e2f139 inset 10px;
}
