@mixin flex($justify_dir:center, $align_dir:center, $flex_dir:column) {
    display: flex;
    justify-content: $justify_dir;
    align-items: $align_dir;
    flex-direction: $flex_dir;
}

@mixin buttonSize($btn_width:100px, $btn_heigth:40px){
    width: $btn_width;
    height: $btn_heigth;
}

@mixin header($size:36px, $color:white,$align: center,$weight:bold){
    font-size: $size;
    color: $color;
    text-align: $align;
    font-weight: $weight;
}

@mixin mainStyle($posit:absolute, $main_wdth:100%, $main_hgth:auto){
    position: $posit;
    width: $main_wdth;
    height: $main_hgth;
}


@mixin grid($grid_temp:repeat(6, 2fr), $gap:20px, $col_gap: 10px){
    display: grid;
    grid-template-columns: $grid_temp;
    row-gap: $gap;
    column-gap: $col_gap;
}

