// :root {
//   --background-color: rgb(243, 241, 234);
// }
// $backColorForRoot: var(--background-color);

:about_users {
  --background-color: rgb(243, 241, 234);
}
$backgroundColor: var(--background-color);

:switch_toggle_board {
  --background-color: silver;
}
$switchToggleBoardColor: var(--background-color);

:switch_toggle_ball {
  --left: 5px;
}
$ballPosition: var(--left);
